{% extends "blog/base.html" %}
{% block content %}
    <h1>About Erskine7</h1>

<br>

<h3 title="Erskine is becoming a better developer.">Always Learning</h3>

<p title="Coding requires great patience.">
    Erskine built this website using Python, Django, Pycharm, PowerShell, Bootstrap and Crispy Forms and deployed it
    with Git, Github and Linode to a Linux server via SSH.<br>
    <br>

    This website was built to demonstrate Erskine's ability to code using Python, however,
    this website actually works. You can register, sign in and post a blog.<br>
    <br>

    Pass your mouse over the title "Always Learning" as well as over this sentence
    for secret messages.<br>
    <br>

    Give this Python coded website a test drive!
</p>

</body>
</html>


{% endblock content %}
